# Python bytecode
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/
ENV/

# Database
db.sqlite3

# Static & Media
staticfiles/
static_root/
/media/
products/images260519/

# Environment variables (Secrets)
.env

# OS files
.DS_Store
Thumbs.db