amqp==5.3.1
asgiref==3.11.1
billiard==4.2.4
brotli==1.2.0
celery==5.6.3
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
crispy-bootstrap4==2026.2
crispy-bootstrap5==2026.3
cssselect2==0.9.0
Django==6.0.4
django-crispy-forms==2.6
django-environ==0.13.0
django-redis==7.0.0
docker==7.1.0
dotenv==0.9.9
fonttools==4.63.0
idna==3.18
kombu==5.6.2
packaging==26.2
pillow==12.2.0
prompt_toolkit==3.0.52
psycopg2-binary==2.9.12
pycountry==26.2.16
pycparser==3.0
pydyf==0.12.1
pyphen==0.17.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
redis==6.4.0
requests==2.34.2
setuptools==82.0.1
six==1.17.0
sqlparse==0.5.5
tinycss2==1.5.1
tinyhtml5==2.1.0
tzdata==2026.2
tzlocal==5.3.1
urllib3==2.7.0
vine==5.1.0
wcwidth==0.8.1
weasyprint==69.0
webencodings==0.5.1
zopfli==0.4.3
