{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Register
{% endblock title %}


{% block content %}
<div class="container">
    <div class="row justify-content-center my-4">
        <div class="col-md-6 col-lg-4">
            <h2 class="text-center mb-3">Register</h2>
            <form method="post" class="my-class">
                {% csrf_token %}

                {{form|crispy}}
                <input type="submit" value="Register" class="btn btn-outline-dark mb-3">
            </form>
            <p>Have an account? <a href="{% url 'accounts:login' %}">Login</a> </p>
        </div>
    </div>
</div>

{% endblock content %}