{% extends "base.html" %}


{% block content %}

<!-- product details section -->
<section class="product_details_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center my-2">
      <h2>
        Product Details
      </h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="img-box">
          <img src="{{product.image.url}}" alt="Product Name" class="img-fluid">
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <h4>{{product.name}}</h4>
          <h5 class="my-3">
            <span>$</span> {{product.price}}
          </h5>
          <p>
            {{product.description}}
          </p>
          <div class="star_container my-4">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
          </div>
          <form action="{% url 'cart:cart_add' product.id %}" method="post">

            {{cart_product_form}}
            {% csrf_token %}
            <input type="submit" value="Add to cart" class="btn btn-outline-info my-3">

          </form>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-12">
        <h4>Additional Information</h4>
        <ul>
          <li>Feature 1: Description of the feature.</li>
          <li>Feature 2: Description of the feature.</li>
          <li>Feature 3: Description of the feature.</li>
          <li>Feature 4: Description of the feature.</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- end product details section -->

{% endblock content %}