{% load static %}

<!-- info section -->

<section class="info_section">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="info_contact">
          <a href="/" class="footer-brand">
            <span>BONNY</span>
            <span>FRAGRANCE</span>
          </a>
          <p><i class="fa fa-map-marker"></i> Egypt</p>
          <p><a href="https://wa.me/201100103523"><i class="bi bi-telephone"></i> +20 1100103523</a></p>
          <p><a href="mailto:bonnyscent@gmail.com"><i class="fa fa-envelope"></i> bonnyscent@gmail.com</a></p>
        </div>
      </div>

      <div class="col-md-3">
        <h5>About Us</h5>
        <p class="brand-bio">BONNY defines elegance through fragrance. We bring you global luxury standards with a
          unique minimalist touch.</p>
      </div>

      <div class="col-md-3">
        <h5>Quick Links</h5>
        <ul class="footer-links">
          <li><a href="{% url 'store:home' %}">Home</a></li>
          <li><a href="{% url 'store:list_product' %}">Shop Products</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <h5>Newsletter</h5>
        <form class="footer-form">
          <input type="email" placeholder="Enter your email" required>
          <button type="submit">Subscribe</button>
        </form>
        <div class="social_box">
          <a href="https://www.facebook.com/Bonnyfragrance" target="_blank"><i class="fa fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/bonny.fragrance" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://wa.me/201100103523" target="_blank"><i class="fa fa-whatsapp"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end info_section -->



<!-- jQery -->
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<!-- bootstrap js -->
<script src="{% static 'js/bootstrap.js' %}"></script>
<!-- custom js -->
<script src="{% static 'js/custom.js' %}"></script>
<!-- main js -->
<script src="{% static 'js/main.js' %}"></script>
<!-- popper js -->
<script src="{% static 'js/popper.js' %}"></script>
<!-- For JS response messages -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>