<!-- header section strats -->
<header class="header_section">
  <div class="header_top">
    <div class="container-fluid">
      <div class="top_nav_container">
        <div class="contact_nav">
          <a href="">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span>
              Call : +01 123455678990
            </span>
          </a>
          <a href="">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <span>
              Email : demo@gmail.com
            </span>
          </a>
        </div>
        <from class="search_form" method="get" action="{% url 'store:product_search' %}">
          <input type="text" name="query" class="form-control" placeholder="Search here...">
          <button class="" type="submit">
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </from>
        <div class="user_option_box">
          <a href="{% url 'accounts:register' %}" class="account-link">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span>
              My Account
            </span>
          </a>
          <a href="{% url 'cart:cart_detail' %}" class="cart-link">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <span>
              Cart
            </span>
            {% with total_items=cart|length %}
            {% if total_items > 0 %}
            <small> <a href="{% url 'cart:cart_detail' %}">
                {{total_items}} items
                <!-- {{cart.get_total_price}} -->
              </a> </small>

            {% else %}
            <small>empty.</small>

            {% endif %}
            {% endwith %}
          </a>
        </div>
      </div>

    </div>
  </div>
  <div class="header_bottom">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="{% url 'store:home' %}">
          <span>
            BONNY Fragrance
          </span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""> </span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ">
            <li class="nav-item {% if request.path == '/' %}active{% endif %}"">
              <a class=" nav-link" href="{% url 'store:home' %}">Home</a>
            </li>
            <li
              class="nav-item {% if '/list_product' in request.path and 'category=' not in request.get_full_path %}active{% endif %}">
              <a class="nav-link " href="{% url 'store:list_product' %}">Products</a>
            </li>
            <li class="nav-item dropdown {% if '?category=' in request.get_full_path %}active{% endif %}">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Categories
              </a>

              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <!-- <li><span class="dropdown-item text-muted">Count: {{ categories|length }}</span></li> -->
                {% for category in categories %}
                <li>
                  <a class="dropdown-item category-btn"
                    href="{% url 'store:list_product' %}?category={{ category.slug }}"
                    data-category="{{ category.slug }}">{{ category.name }}</a>
                </li>
                {% endfor %}
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#about"> About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#why_us">Why Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#testimonial">Testimonial</a>
            </li>

          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
<!-- end header section -->